<!-- This div is displayed during loading and covers the entire screen. -->
<div class="loading-spinner {{ unless isLoading 'loading-fade-out' }}"></div>

<!-- Once loading is done, we display the skins-root-component. -->
<div class="skins-root-component {{ if isLoading 'loading-hidden' 'loading-fade-in' }}">
    <div class="left-pane">
        <div class="count">
            <!-- Skin count out of total. -->
            <span class="number owned">{{ownedSkinCount}}</span>
            <span class="of">of</span>
            <span class="number total">{{totalSkinCount}}</span>
            <span class="skin-text">SKINS</span>
        </div>

        <!-- Show unowned checkbox. Uses the builtin uikit component. -->
        <lol-uikit-flat-checkbox class="show-unowned" {{ action 'toggleUnowned' }}>
            <input type="checkbox" checked={{showUnowned}}>
            <label>Show Unowned</label>
        </lol-uikit-flat-checkbox>

        <!-- The various sorting options. Again, we make use of the builtin uikit components. -->
        <lol-uikit-radio-input class="sort-order">
            <lol-uikit-radio-input-option selected={{sort_alphabetical}} {{ action 'sort' 'alphabetical' }}>
                ALPHABETICAL
            </lol-uikit-radio-input-option>
            
            <lol-uikit-radio-input-option selected={{sort_mastery}} {{ action 'sort' 'mastery' }}>
                MASTERY
            </lol-uikit-radio-input-option>
            
            <lol-uikit-radio-input-option selected={{sort_count}} {{ action 'sort' 'count' }}>
                COUNT
            </lol-uikit-radio-input-option>     
         </lol-uikit-radio-input>
    </div>

    <!-- By wrapping our view in lol-uikit-scrollable, we automatically get LCU-style scrollbars. -->
    <lol-uikit-scrollable class="right-pane">
        <!-- For every champion... -->
        {{#each champions as |champion|}}
            <div class="champion-category">
                <!-- ... we have a name ... -->
                <div class="title">
                    <span>{{champion.name}}</span>
                    <span>{{champion.ownedSkins.length}}/{{champion.allSkins.length}}</span>
                </div>

                <!-- ... a divider ... -->
                <hr>
                
                <div class="champion-skins">
                {{#if showUnowned}}
                    <!-- ... and either all the skins ... -->
                    {{#each champion.allSkins as |skin|}}
                        <div class="skin {{ if skin.ownership.owned 'owned' 'unowned'}}" style="background-image: url({{skin.tilePath}})" {{ action 'open' champion }}></div>
                    {{/each}}
                {{else}}
                    <!-- or just the owned skins. -->
                    {{#each champion.ownedSkins as |skin|}}
                        <div class="skin" style="background-image: url({{skin.tilePath}})" {{ action 'open' champion }}></div>
                    {{/each}}
                {{/if}}
                </div>
            </div>
	    {{/each}}
    </lol-uikit-scrollable>
</div>